<div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalCreateGroup">Add new group</button>
  
  <div class="modal fade" id="myModalCreateGroup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new group to the app</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter name" ng-model="newGroup.name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="createGroup()">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
